.arrow-animation {
    animation: arrow 1.25s ease-out;
}

@keyframes arrow {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    33% {
        transform: translateX(50%);
        opacity: 0;
    }
    66% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
