.hovered {
    cursor: pointer;
    opacity: 1;
    transition: cursor 0.3s, opacity 0.3s;
}

.unhovered {
    opacity: 0.3;
    transition: cursor 0.3s, opacity 0.5s;
}

.text-container {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 30px;
}
